video {
    display: block;
    object-fit: cover;
    width: 100%;
    height:100%;
    position: fixed;
    z-index: -1;
}

.buttons-center{
  text-align: center;
  padding-top: 300px;
}
.homeButton{
  border: 2px solid white;
  background-color: transparent;
  width: 200px;
  height: 50px;
  margin-right: 50px;
  font-size: 30px;
  color: white;
}
.homeButton:hover{
  background-color: white;
  color: black;
}