<!DOCTYPE html>
<html lang="eng">
    <head>
        <link rel="icon" href="https://www.clipartmax.com/png/small/64-644251_transparent-sunflower-grow-your-own-sunflower.png">
        <link rel="stylesheet" href="/css/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chatting Website</title>
{{!--         <link rel="stylesheet" href="/css/nav.css"> --}}
    </head>
    <body>
        <div style="height: 100px;"></div>
        <div style="margin-left: 20%; border: 1px solid white; margin-right: 20%; padding: 10px;">
            <h1>Please login or sign-up to enlighten yourself with the posting of other humans.</h1>
            <div style="display: grid; grid-template-rows:50% 50%; grid-row-gap: 10px; padding-bottom: 10px;">
                <form action="/login/" method="get">
                    <button type="submit">Login</button>
                </form>
                <form action="/signup/" method="get">
                    <button type="submit">Sign Up</button>
                </form>
            </div>
        </div>
        <div style="height: 100px;"></div>
    </body>
</html>