<!DOCTYPE html>
<html lang="eng">
    <head>
        <link rel="icon" href="https://www.clipartmax.com/png/small/64-644251_transparent-sunflower-grow-your-own-sunflower.png">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.5.2/validator.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chatting Website</title>
        <link rel="stylesheet" href="/css/signup.css">
        <script type="text/javascript" src="/js/login.js"></script>
    </head>
    <body>
        <div id="login">
                <form>
                    <div><a href="/" style="color: blue; margin-left: 90%;">Go Back</a></div>
                    <label for="email">Enter a valid Email:-</label>
                    <input type="text" id="email" name="email" placeholder="Email field"  required>
                    <div style="display: none; background-color: red; color: white; width:50%" id="email-rejection">
                        Please Enter a valid email, the server rejected this email
                    </div>

                    <label for="password">Enter your password</label>
                    <input type="password" name="password" placeholder="Password field" required>
                    <div style="display: none; background-color: red; color: white; width:50%" id="password-rejection">
                        Please Enter a valid password, the server rejected this password because it doesn't meet its criterion.
                    </div>
                    
                    <button type="submit" style="height:40px; width: 50%; margin-left: 25%;">Login</button>
                </form>
        </div>
        <script>
            console.log(typeof InstallTrigger !== "undefined")
            if(!(typeof InstallTrigger !== "undefined"))
            {   
                document.querySelector("form").style.paddingBottom = "100px";

            }
        </script>
    </body>

</html>