<!DOCTYPE html>
<html lang="eng">
    <head>
        <link rel="icon" href="https://www.clipartmax.com/png/small/64-644251_transparent-sunflower-grow-your-own-sunflower.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chatting Website</title>
        <script type='text/javascript'>
            console.log(['{{token}}'])
            localStorage.setItem("token", ['{{token}}'][0]);
        </script>
    </head>
    <body>
        {{token}}
        HElloo
    </body>
</html>